@font-face {
    font-family: 'OpenSans';
    src: local("Gentium"), url('../fonts/OpenSans-Bold.woff2') format("woff2"), 
    url('../fonts/OpenSans-Bold.woff') format("woff"), 
    url('../fonts/OpenSans-Bold.ttf') format("ttf");
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local("Gentium"), url('../fonts/OpenSans-Regular.woff2') format("woff2"), 
    url('../fonts/OpenSans-Regular.woff') format("woff"), 
    url('../fonts/OpenSans-Regular.ttf') format("ttf");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: OpenSans, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}

.navigation {
    position: relative;
    padding: 30px 15% 0px;
    min-width: 985px;
    height: 450px;
    box-sizing: border-box;
    background-color: black;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 0;
    
}

.navigation::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0px auto;
}

.navigation-logo {
    width: 178px;
    height: 40px;
    background-image: url("../svg/noemi-logo.svg");
    background-repeat: no-repeat;
}

.navigation-list {
    display: flex;
    width: 462px;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
}

.menu-item, .link-item, .tag-link {
    color: inherit;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}

.link-item:hover {
    color: #ae9e5f;
}

h1 {
    font-size: 45px;
    margin-block-start: 100px;
    margin-block-end: 0px;
}

.trend {
    margin-top: 50px;
}

.title-line {
    text-align: center;
}

h3 {
    color: black;
    font-size: 20px;
    margin: 0px;
}

.posts-news-title h3 {
    font-size: 14px;
}

hr {
    margin-top: 10px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 3px 0px 0px;
    width: 65px;  
    color: #dfd8bf; 
}

.trend-content {
    display: flex;
    justify-content: space-between;
}

.trend-post {
    position: relative;
    width: 25%;
    min-width: 248.5px;
}

.trend-post:nth-child(n+2) {
    margin-left: 0.24%;
}

.trend-post::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.trend-post-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.trend-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trend-text {
    position: absolute;
    padding: 10.55% 8.88%;
    font-weight: 700;
    font-size: 14px;
    /* font-size: 1.1vw; */
    /* font-size: calc(9px + 0.6vw); */

    left: 4.87%;
    right: 4.87%;
    bottom: 4.87%;
    border: 4px solid rgba(174, 158, 95, 0.6);
}

.trend-text h3 {
    margin-top: 0px;
    color: inherit;
    font-size: 1.1vw;
    /* font-size: 20px; */
}

.tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0px;
    /* font-size: 14px; */
    /* font-size: calc(6px + 0.48vw); */
    font-size: 0.875vw;

    font-weight: 700;
    color: #ae9e5f;
    margin: 0px 0px 10px;
}

.tag-link, .tag {
    margin-right: 7%;
}

.tag-link:hover {
    text-decoration: underline;
    text-decoration-color: #ddd7c2;
}

.end-block {
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
}

.svg-objects {
    display: flex;
    justify-content: center;
    /* width: 1170px; */
    width: 74%;
    margin: 0px auto 70px;
    background-color: #f5f7f6;
    height: 80px;
    box-sizing: border-box;
    padding: 30px;
}

.svg-dribbble {
    background-image: url("../svg/001-dribbble.svg");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.svg-pinterest {
    background-image: url("../svg/001-pinterest.svg");
    width: 1.66em;
    height: 1.66em;
    margin-right: 1.66em;
}

.svg-tumblr {
    background-image: url("../svg/003-tumblr.svg");
    width: 20px;
    height: 20px;
}

.end-block-text {
    display: block;
    margin-bottom: 40px;
}

/* первая колонка */

.posts {
    display: flex;
    justify-content: center;
    width: 74%;
    margin: 60px auto 0px;
}

.posts-content {
    width: 77%;
    min-width: 570px;
}

.post {
    display: flex;
    margin-bottom: 60px;
}

.post-img {
    width: 42.22%;
    min-width: 212px;
}

.post-img-item {
    display: block;
    width: 100%;
    object-fit: cover;
}

.post-block {
    width: 57.78%;
    min-width: 289px;
    padding-left: 3.34%;
    padding-right: 13.37%;
    box-sizing: border-box;
    color: black;
}

.post-text {
    margin-top: 5.8%;
    text-transform: none;
}

.post-block h3 {
    font-size: 20px;
}

.post-data, .post-author {
    display: inline-block;
    margin-right: 1.93%;
    font-size: 12px;
    margin-bottom: 9.67%;
}

p {
    margin-top: 0px;
    font-size: 14px;
}


/* вторая колонка */


.posts-news {
    width: 23%;
    min-width: 270px;
}

.posts-list-item {
    display: flex;
    margin-bottom: 20px;
}

.posts-list-img {
    width: 25%;
    height: 100%;
}

.posts-list-text {
    padding-left: 5.5%;
    box-sizing: border-box;
    width: 75%;
    margin-top: -4px;
}

.posts-list-text span {
    color: #a0a0a0;
    text-transform: none;
    font-size: 0.75vw;
    /* font-size: 12px; */
}

h4 {
    font-size: 0.875vw;
    /* font-size: 14px; */
    color: black;
    margin-top: 0.14em;
    margin-bottom: 0px;
    line-height: 1;
}

.posts-link  {
    text-decoration: none;
}

.posts-link:hover h4 {
    color: #71a1f4;
} 

.content-search {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.field {
    padding-left: 8.8%;
    border: none;
    background-color: #f5f7f6;
    font-size: 14px;
}

.field-search {
    width: calc(100% - 45px);
}

.field-search:focus {
    margin-right: 1px;
}

.field-mail {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
}

.btn-search {
    background-image: url("../svg/search.svg");
    width: 45px;
    height: 45px;
    background-color: #ae9e5f;
    padding: 15px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;  
    font-size: 14px;  
}

.btn-mail {
    background-color: #ae9e5f;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    color: inherit;
    text-transform: uppercase;
}

.btn-search:hover, .btn-mail:hover {
    opacity: 0.9;
}

.content-mail, .content-tags {
    margin-bottom: 60px;
}

.content-tags span {
    color: black;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #ededed;
    padding: 5px 15px;
    display: inline-block;
    margin-top: 5px;
}
