@font-face {
    font-family: 'OpenSans';
    src: local("Gentium"), url('../fonts/OpenSans-Bold.woff2') format("woff2"), 
    url('../fonts/OpenSans-Bold.woff') format("woff"), 
    url('../fonts/OpenSans-Bold.ttf') format("ttf");
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local("Gentium"), url('../fonts/OpenSans-Regular.woff2') format("woff2"), 
    url('../fonts/OpenSans-Regular.woff') format("woff"), 
    url('../fonts/OpenSans-Regular.ttf') format("ttf");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: OpenSans, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}

.navigation {
    position: relative;
    padding: 30px 14.7% 0px 15%;
    min-width: 994px;
    height: 450px;
    box-sizing: border-box;
    background-color: black;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    font-weight: 700;
    font-size: 45px;
    z-index: 0;
}

.navigation::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.navigation-content {
    display: flex;
    justify-content: space-between;
}

.navigation-logo {
    width: 178px;
    height: 40px;
    background-image: url("../svg/noemi-logo.svg");
    background-repeat: no-repeat;
}

.navigation-list {
    display: flex;
    width: 462px;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    list-style-type: none; 
}

.menu-item, .link-item {
    color: inherit;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}

.link-item:hover {
    color: #ae9e5f;
}

.navigation-title {
    margin-top: 100px;
    line-height: 75px;
}

.trend {
    margin-top: 50px;
}

.title-line {
    text-align: center;
}

h3 {
    margin-top: 15px;
    color: black;
    font-size: 20px;
    margin-bottom: 0px;
}

.posts-title h3 {
    font-size: 14px;
}

.line {
    display: inline-block;
    width: 65px;
    height: 3px;
    background-color: #dfd8bf;
    margin-top: 10px ;
    margin-bottom: 25px;
} 

.trend-content {
    display: flex;
    justify-content: space-between;
}

.trend-post {
    position: relative;
    width: 25%;
    min-width: 248.5px;
}

.trend-post:nth-child(n+2) {
    margin-left: 0.24%;
}

.trend-post::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.trend-post-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.trend-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trend-text {
    position: absolute;
    padding: 10.55% 8.88%;
    font-weight: 700;
    left: 4.87%;
    right: 4.87%;
    bottom: 4.87%;
    font-size: 1.1vw;
    /* font-size: calc(9px + 0.6vw); */
    border: 4px solid rgba(174, 158, 95, 0.6);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.84vw;
    /* font-size: calc(6px + 0.48vw); */
    font-weight: 700;
    color: #ae9e5f;
    margin-bottom: 10px;
}

.tag {
    margin-right: 7%;
}

.end-block {
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
}

.svg-objects {
    display: flex;
    justify-content: center;
    /* width: 1170px; */
    width: 70.48%;
    margin: 65px auto 75px;
    background-color: #f5f7f6;
    height: 80px;
    box-sizing: border-box;
    padding: 30px;
}

.svg-dribbble {
    background-image: url("../svg/001-dribbble.svg");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.svg-pinterest {
    background-image: url("../svg/001-pinterest.svg");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.svg-tumblr {
    background-image: url("../svg/003-tumblr.svg");
    width: 20px;
    height: 20px;
}

.end-block-text {
    display: block;
    margin-bottom: 40px;
}