@font-face {
    font-family: 'OpenSans';
    src: local("Gentium"), url('../fonts/OpenSans-Bold.woff2') format("woff2"), 
    url('../fonts/OpenSans-Bold.woff') format("woff"), 
    url('../fonts/OpenSans-Bold.ttf') format("ttf");
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local("Gentium"), url('../fonts/OpenSans-Regular.woff2') format("woff2"), 
    url('../fonts/OpenSans-Regular.woff') format("woff"), 
    url('../fonts/OpenSans-Regular.ttf') format("ttf");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: OpenSans, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}

h3 {
    color: black;
    font-size: 20px;
    margin: 0px;
}

/* Раздел навигации (header) */

.navigation-background {
    background-color: black;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 0; 
    position: relative;
}

.navigation-background::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.navigation-content {
    position: relative;
    height: 450px;
    width: 1200px;
    margin: 0px auto;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 25px 15px 0px; */
    padding-top: 25px;
}

.navigation-link-logo {
    width: 178px;
    height: 40px;
    background-image: url("../svg/noemi-logo.svg");
    background-repeat: no-repeat;
}

.hamburger-menu {
    display: none;
}

.navigation-list {
    display: flex;
    width: 462px;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
}

.navigation-link {
    color: inherit;
    text-decoration: none;
}

.navigation-link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 45px;
    width: 700px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin: 0px;
    padding-top: 35px;
}

/* Раздел слайдов (aside) */

.trend-conteiner {
    margin-top: 50px;
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
}

.trend-title {
    text-align: center;
}

.trend-title::after {
    content: '';
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid #dfd8bf;
    border-width: 3px 0px 0px;
    width: 65px;   
    margin-left: auto;
    margin-right: auto;
}

.trend-content {
    display: flex;
    justify-content: space-between;
}

.trend-post {
    position: relative;
    width: 414px;
}

.trend-post:nth-child(n+2) {
    margin-left: 4px;
}

.trend-post::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.trend-post-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.trend-text {
    position: absolute;
    padding: 38px 32px;
    font-weight: 700;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 4px solid rgba(174, 158, 95, 0.6);
    box-sizing: border-box;
}

.trend-tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #ae9e5f;
    margin: 0px 0px 10px;
}

.trend-tag-link {
    color: inherit;
    text-decoration: none;
}

.trend-tag-link:hover {
    text-decoration: underline;
}

.trend-post-title {
    margin-top: 0px;
    color: inherit;
}

.trend-post-title:hover {
    color: #ae9e5f;
}

.trend-post-title-link {
    text-decoration: none;
    color: inherit;
}

.trend-tag {
    margin-right: 20px;
}

/* Раздел постов (posts) */
/* первая колонка */

.posts-conteiner {
    display: flex;
    justify-content: center;
    width: 1200px;
    min-width: 1000px;
    margin: 60px auto 0px;
}

.posts-content {
    width: 77%;
    min-width: 570px;
}

.post {
    display: flex;
    margin-bottom: 60px;
}

.post-img {
    width: 42.22%;
    min-width: 212px;
}

.post-img-item {
    display: block;
    width: 100%;
    object-fit: cover;
}

.post-block {
    width: 57.78%;
    min-width: 289px;
    padding-left: 3.34%;
    padding-right: 13.37%;
    box-sizing: border-box;
    color: black;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #ae9e5f;
    margin: 0px 0px 10px;
}

.post-tag {
    margin-right: 20px;
}

.post-tag-link {
    color: #b59f5b;
    text-decoration: none;
}

.post-tag-link:hover {
    text-decoration: underline;
}

.post-title-link {
    color: inherit;
    text-decoration: none;
}

.post-title-link:hover {
    color: #ae9e5f;
}

.post-text {
    margin-top: 5.8%;
    text-transform: none;
}

.post-data, .post-author {
    display: inline-block;
    margin-right: 1.93%;
    font-size: 12px;
    margin-bottom: 9.67%;
}

p {
    margin-top: 0px;
    font-size: 14px;
}

/* Вторая колонка (news) */

.news-conteiner {
    width: 23%;
    min-width: 270px;
}

.news-title h3{
    font-size: 14px;
    text-align: center;
}

.news-title::after {
    content: '';
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid #dfd8bf;
    border-width: 3px 0px 0px;
    width: 65px;   
    margin-left: auto;
    margin-right: auto;
}

.news-link  {
    text-decoration: none;
}

.news-link:hover h4 {
    color: #ae9e5f;
} 

.news-list-item {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
}

.news-list-img {
    width: 25%;
    height: 100%;
}

.news-list-text {
    padding-left: 5.5%;
    box-sizing: border-box;
    width: 75%;
    margin-top: -4px;
}

.news-list-text span {
    color: #a0a0a0;
    text-transform: none;
    font-size: 12px;
}

h4 {
    font-size: 0.875vw;
    font-size: 14px;
    color: black;
    margin-top: 0.14em;
    margin-bottom: 0px;
    line-height: 1;
}

.news-search {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.news-field {
    padding-left: 8.8%;
    border: none;
    background-color: #f5f7f6;
    font-size: 14px;
}

.news-field-search {
    width: calc(100% - 45px);
}

.news-field-search:focus {
    margin-right: 1px;
    outline: none;
}

.news-field-mail {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
}

.news-field-mail:focus {
    outline: none;
}

.news-field-search:hover, .news-field-mail:hover {
    margin-right: 1px;
    border: 1px solid #ae9e5f;
}

.news-btn-search {
    background-image: url("../svg/search.svg");
    width: 45px;
    height: 45px;
    background-color: #ae9e5f;
    padding: 15px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;  
    font-size: 14px;  
    cursor: pointer;
}

.news-btn-mail {
    background-color: #ae9e5f;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.news-btn-search:hover, .news-btn-mail:hover {
    background-color: black;
}

.news-mail {
    margin-bottom: 60px;
}

.news-tags-list {
    margin: 0px 0px 60px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
}

.news-tags-list-item {
    display: inline-block;
}

.news-tag-link {
    color: black;
    text-decoration: none;
    margin-top: 5px;
    padding: 5px 15px;
    display: block;
    border: 3px solid #ededed;
}

.news-tag-link:hover {
    border-color: #ae9e5f;
}

.news-themes-list {
    font-weight: bold;
}

.news-themes-list-item {
    display: block;
    padding: 18px 0px 18px 0px;
    border-bottom: 2px solid #eeeeee;
}

.news-themes-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.news-themes-link:hover {
    color: #ae9e5f;
}

sup {
    font-size: 12px; 
    color: #ae9e5f;
}

/* Раздел наши изделия */

.goods-title {
    text-align: center;
}

.goods-title-line::after {
    content: '';
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid #dfd8bf;
    border-width: 3px 0px 0px;
    width: 65px;   
    margin-left: auto;
    margin-right: auto;
}

.goods-conteiner {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

.good-post {
    width: 350px;
    position: relative;
}

.good-post-border {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 170px;
    bottom: 0px;
    border: 4px solid rgba(174, 158, 95, 0.6);
    z-index: -1;
}

.good-post-content {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;
}

.good-post-img-desk {
    display: block;
}

.good-post-img-tablet, .good-post-img-mobile {
    display: none;
}

.good-post-content img {
    position: relative;
    z-index: -1;
}

.good-post-title {
    margin-top: 25px;
}

.good-post-content p {
    color: black;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 0px;
}

.good-post-link {
    color: #ae9e5f;
    text-decoration: none;
}

.good-post-link:hover {
    text-decoration: underline;
}

.good-shop {
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.good-price {
    color: black;
}

.good-price-delete {
    display: block;
    text-decoration: line-through;
    font-size: 14px;
    min-height: 19px;
}

.good-price-now {
    font-size: 20px;
}

button {
    color: white;
    background-color: #ae9e5f;
    width: 140px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

/* Раздел подвала  */

.end-block {
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
}

.end-svg-objects {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 60px auto 70px;
    background-color: #f5f7f6;
    padding: 30px;
    box-sizing: border-box;
}

.end-svg-dribbble {
    background-image: url("../svg/001-dribbble.svg");
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.end-svg-pinterest {
    background-image: url("../svg/001-pinterest.svg");
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.end-svg-tumblr {
    background-image: url("../svg/003-tumblr.svg");
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.end-block-text {
    display: block;
    margin-bottom: 40px;
    color: #999999;
}

/* символ рубля */

.rub {
    vertical-align: middle;
    border-bottom: 0.07em solid;
    line-height: 0.3em;
    display: inline-block;
    width: 0.5em;
    font-size: 14px;
}

/* раздел popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-active {
    display: block;
}

.popup-close {
    width: 15px;
    height: 15px;
    background-image: url("../svg/form-x.svg");
    position: absolute;
    right: 0;
    top: -20px;
}

.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 390px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: black;
}

.popup-conteiner {
    padding: 50px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: none;
    font-weight: 400;
}

.popup-title {
    text-align: center;
}

.popup-title-line::after {
    content: '';
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid #dfd8bf;
    border-width: 3px 0px 0px;
    width: 65px;   
    margin-left: auto;
    margin-right: auto;
}

#login-to-the-site {
    border: none;
    width: 100%;
    height: 3em;
    margin-top: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../svg/form-arrows.svg") no-repeat right 10px center #f3f7f6;
    background-size: 3%;
    padding-left: 20px;
    color: #7f8180;
} 

#login-to-the-site:focus {
    outline: none;
}

.form-hint {
    display: block;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-empty-circle.svg");
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0;
}

.radio:checked {
    
    background-image: url("../svg/form-circle.svg");
}

.form-hint-button label:nth-child(2) {
    margin-left: 15px;
}

.radio-group-text {
    font-size: 14px;
}

.area {
    width: 100%;
    box-sizing: border-box;
    height: 130px;
    resize: none;
    border: none;
    background-color: #f3f7f6;
    padding: 20px;
}

.area:focus {
    outline: none;
}

.popup-form-button {
    margin-top: 25px;
    height: 3em;
}

.popup-button {
    width: 100%;
}

@media (min-width: 641px) and (max-width: 1320px) {
    .navigation-background {
        background-image: url("../images/banner-bg-tablet.jpg");  
        background-position: bottom;
    }
    
    .navigation-content {
        width: 697px;
    }

    .hamburger-menu {
        display: block;
    }

    .navigation-list {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 18px;
    }
    
    .trend-content {
        flex-wrap: wrap;
    }
    
    .trend-post {
        width: 49.8%;
        margin-bottom: 4px;
    }

    .trend-post-title-link {
        font-size: 17px;
    }

    .trend-post:nth-child(n+2) {
        margin-left: 0px;
    }

    .posts-conteiner {
        width: 768px;
        min-width: 768px;
        display: flex;
        justify-content: space-evenly;
    }

    .posts-content {
        width: 50.7%;
        min-width: 390px;
    }

    .news-conteiner {
        min-width: 270px;
    }

    .post {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .post-img {
        width: 100%;
    }

    .post-title-link {
        font-size: 17px;
    }

    .post-block {
        width: 100%;
        padding: 10px 0px 0px;
    }

    .post-data, .post-author {
        margin-bottom: 30px;
    }

    p {
        font-size: 15px;
    }

    .post:after {
        content: '';
        display: block;
        margin-top: 10px;
        border: solid #eeeeee;
        border-width: 3px 0px 0px;
        width: 100%;
    }

    .post:last-child:after {
        content: '';
        display: none;
    }

    .news-themes-list {
        padding-inline-start: 0px;
        text-transform: none;
    }

    .news-themes-list-item {
        padding: 12px 0px;
    }

    .goods-conteiner {
        width: 697px;
        flex-wrap: wrap;
    }

    .good-post {
        width: 335px;
        position: relative;
        margin-bottom: 25px;
    }

    .good-post-content {
        width: 292px;
    }

    .good-post-img-tablet {
        display: block;
    }

    .good-post-img-desk, .good-post-img-mobile {
        display: none;
    }

    .good-post-border {
        top: 193px;
    }

    .end-svg-objects {
        width: 697px;
    }
}

@media (max-width: 640px) {
    .navigation-background {
        background-image: url("../images/banner-mobile.jpg");  
    }
    
    .navigation-content {
        width: 330px;
        height: 638px;
    }

    .hamburger-menu {
        display: block;
    }

    .navigation-list {
        display: none;
    }

    h1 {
        font-size: 26px;
        width: 330px;
    }

    h3 {
        font-size: 16px;
    }
    
    .trend-content {
        flex-wrap: wrap;
    }
    
    .trend-post {
        width: 100%;
        margin-bottom: 4px;
    }

    .trend-post-title-link {
        font-size: 16px;
    }

    .trend-post:nth-child(n+2) {
        margin-left: 0px;
    }

    .posts-conteiner {
        width: 330px;
        min-width: 330px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .posts-content {
        width: 100%;
        min-width: 100%;
    }

    .news-conteiner {
        min-width: 330px;
    }

    .post {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .post-img {
        width: 100%;
    }

    .post-title-link {
        font-size: 16px;
    }

    .post-block {
        width: 100%;
        padding: 10px 0px 0px;
    }

    .post-data, .post-author {
        margin-bottom: 30px;
    }

    p {
        font-size: 14px;
    }

    .post:after {
        content: '';
        display: block;
        margin-top: 10px;
        border: solid #eeeeee;
        border-width: 3px 0px 0px;
        width: 100%;
    }

    .news-title h3 {
        font-size: 16px;
    }

    .news-themes-list {
        padding-inline-start: 0px;
        text-transform: none;
    }

    .news-themes-list-item {
        padding: 12px 0px;
    }

    .goods-conteiner {
        width: 330px;
        flex-wrap: wrap;
    }

    .good-post {
        width: 335px;
        position: relative;
        margin-bottom: 25px;
    }

    .good-post-content {
        width: 292px;
    }

    .good-post-img-mobile {
        display: block;
    }

    .good-post-img-desk, .good-post-img-tablet {
        display: none;
    }

    .good-post-border {
        top: 250px;
    }

    .end-svg-objects {
        width: 330px;
    } 
}





/* ////////////////////////////////////////////////////////////////////// */
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    /* центрируем содержимое кнопки */
    /* align-items: center;   */
    
    /* position: absolute;
    top: 20px;
    right: 20px; */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    /* width: 100%; */
    right: 0px;
    width: 26px;
    height: 2px;
    background-color: #f3f7f6;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
/* .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  } */
  /* элементы меню */
  /* .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  } */